<% @posts.each do |post| %>
제목 : <%=post.title %> <a href="/modify/<%=post.id%>">수정 하기</a><br>
<br>
내용 : <%=post.content %> <a href="/delete/<%=post.id%>">삭제 하기</a><hr>
<% end %>
<br>
<a href="/write">글쓰러 가기</a>